*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  

}
.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
 
  .nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}
a{
    color: white;
}
    /* region common */

h1{
    font-size: 56px;
    color: rgb(255, 166, 0)
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}

/* region utility */
.bold{
    font-weight: bold;
}
.app-main{
    background-color: antiquewhite;

    .bg-white{
        background-color: white;
        
    }
    .p-2y{
        padding-top: 2rem;
    }
}
.resize{
    height: 20rempx;
    width: 20rem;
}
.float{
    float:left;

}
.d-flex{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;  
}

.app-footer{
    width: 100%;
    background-color: rgba(135, 0, 189, 0.712);

        .left{
            color: white;
        }
}

/* region debug */

.debug *{
    border: 1px dashed;
}

/* Mobile first */


/* Grid system with flexbox */
.container{
    width: 80%;
    max-width: 1200px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class^="col-"]{
    padding: 0.5rem;
}

.col-8{
    width: calc((100% / 12) * 8);
}

.col-4{
    width: calc((100% / 12) * 4);
}

.col-12{
    width: 100%;
}
.col-20{
    width: 20%;
}
.btn{
    background-color: white;
    padding: 3px;
    border-radius: 999px;
    
}
.algn-cnt{
    align-items: center;
    justify-content: center;
}